@import 'https://fonts.googleapis.com/css2? family= Bungee+Spice & display=swap';


h1{

color: blue;
background-color: chocolate;
font-family: 'Bungee Spice', cursiva;


}

strong{

color: chartreuse;


}